	
<div class = "form-group">
	<label for="title">Book Title</label> 
	<input type="text" name="title" id="title" class="form-control">

	<label for="publishedOn">Author</label> 
	<input type="text" name="publishedOn" id="publishedOn" class="form-control">

	<label for="description">Email</label> 
	<input type="text" name="description" id="description" class="form-control">

	<label for="price">Password</label> 
	<input type="number" name="price" id="price" class="form-control">

 
</div>
